<h2>住所情報登録</h2>

<%= form_for @address do |f| %>
  <%= render "devise/shared/error_messages", resource: @address %>

  <div class="post_number">
    <%= f.label :post_number %><br />
    <%= f.text_field :post_number%>
  </div>

  <div class="field">
    <%= f.label :prefecture %><br />
    <%= f.text_field :prefecture %>
  </div>

   <div class="city">
    <%= f.label :city %><br />
    <%= f.text_field :city%>
  </div>

   <div class="house_number">
    <%= f.label :house_number %><br />
    <%= f.text_field :house_number%>
  </div>

   <div class="building">
    <%= f.label :building%><br />
    <%= f.text_field :building%>
  </div>

   <div class="post_number">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>