.login
  = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post
  = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post
  = render "header"
  .login__section
    .login__section__inner
      .login__section__inner__title
        %p.new-text
          アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path, class: "title-btn"
      .login__section__inner__form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "input-field"
          .field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "input-field"
          - if devise_mapping.rememberable?
            .remember_field
              = f.check_box :remember_me 
              = f.label :remember_me, "このパスワードを記憶する"
          .actions
            = f.submit "ログイン", class: "submit-btn"
        = link_to "パスワードをお忘れの方", new_password_path(resource_name), class: "bottom-btn"
  = render "footer"
