.header
  .header__inner
    .header__inner--top
      .top-left
        = link_to image_tag('http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg')

      .top-right
        %form(accept-charset="UTF-8" action="#" method="get")
          %input(name="utf8" type="hidden" value="✓")/
          %input#searchInput.searchBox--input(name="key" placeholder="キーワードから探す")/
          %form.button_to(action="/?type=submit" method="post")
          %button(type="submit")
            %img(src="/assets/search_btn.png")/
        -# = form_for do |f|
        -# = f.text_field :content, class: 'top-right__sarch', placeholder: 'type a message'
    .header__inner--bottom
      .bottom-left
        .bottom-left__category
          = link_to 'カテゴリー', '#'
        .bottom-left__bland
          = link_to 'ブランド', '#'

      .bottom-right
        .bottom-right__login
          = link_to 'ログイン', '#'
        .bottom-right__create
          = link_to '新規会員登録', '#'
