- breadcrumb :show
= render "layouts/breadcrumbs"
.mypage
  = render 'left-bar'
  .mypage__right
    .mypage__right__user_name
      .mypage__right__user_name__upper
        = current_user.nickname
        さん
      .mypage__right__user_name__lower
        .mypage__right__user_name__lower__right
          購入数 
          = @num
    .mypage__right__buy-item
      .mypage__right__buy-item__head
        購入した商品
      .mypage__right__buy-item__content
        - @items.each do |item|
          .buy_image
            - item.images.each_with_index do |t, index|
              - if index == 0
                .buyer-box
                  .buyer-box__image
                    =image_tag t.src.url
                  .buyer-box__form
                    .buyer-box__form__name
                      =item.name
                    .buyer-box__form__price
                      ="¥#{item.price}円"
          
                  















