.default-container
  %section.item-box-container.l-single-container
    %h1.item-name 
      = @item.name
    .item-main-content.clearfix
      .itemBox__body
        .first-item
          -@item_images.each_with_index do |get, index|
            .first-item__box
              -if index == 0
                =image_tag get.src.url,class: 'first-item__box--img'
                -if @item.Buyer_id.present?
                  .soldout_label
                    .soldout_label__text
                      SOLD
                .other-item
                  -@item_images.each_with_index do |get, index|
                    .other-item__first
                      -if index == 1
                        =image_tag get.src.url
                    .other-item__second
                      -if index == 2
                        =image_tag get.src.url
                    .other-item_third
                      -if index == 3
                        =image_tag get.src.url 
      %table.item-detail-table
        %tr
          %th 出品者
          %td
            = link_to @user.nickname, "#"
        %tr
          %th カテゴリー
          %td
            = link_to @item.category.parent.parent.name, "#"
            = link_to "#" do
              .item-detail-table-sub-category
                %i.icon-arrow-right
                = @item.category.parent.name
            = link_to "#" do
              .item-detail-table-sub-sub-category
                %i.icon-arrow-right
                = @item.category.name
        %tr
          %th ブランド
          %td
            = @item.bland
        %tr
          %th 商品の状態
          %td
            = @item.status
        %tr
          %th 配送料の負担
          %td
            = @item.delivery_charge.name
        %tr
          %th 配送元地域
          %td
            = @item.prefecture.name
        %tr
          %th 発送日の目安
          %td
            = @item.delivery_date.name
    .item-price-box.text-center
      .item-price.bold
        ¥
        = @item.price
      .item-tax (税込)
      .item-shipping-fee 送料込み
    - if (user_signed_in? && @item.seller_id == current_user.id)
      = link_to edit_item_path(@item), class: "item-edit-btn" do
        編集
    - elsif @item.Buyer_id.present?
      .soldout
        売り切れました
    -else
      = link_to purchase_item_path(@item),class: "item-buy-btn" do
        購入画面に進む
    - if (user_signed_in? && @item.seller_id == current_user.id)
      = link_to "削除", "/items/#{@item.id}", method: :delete, class: "item-edit-btn"
    .item-description.f14
      %p.item-description-inner
        = @item.description
  .item-detail-message
    .message-container
      .message-content
        .message-text
          - if @comments.present?
            - @comments.each do |comment|
              .text_box
                .username
                  = comment.user.nickname
                .text
                  = comment.content
        %form.message-form{action: "https://www.mercari.com/jp/comment/add/", method: "POST"}
          %input{name: "__csrf_value", type: "hidden", value: "c6d74b8154bde6722fa4706b572f66e5b9518c503d68d407cd894cccd479de68d2b28d31a4eaf9d47191b3d31c328490320d68080a6c0ea6cb52e9749975167de"}/
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = form_for [@item, @comment] do |f|
          = f.text_area :content, class: 'textarea'
          %br
          = f.submit 'コメント', class: 'comment-submit'
