!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ddmerukari
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
  %body
    .header
      .header__inner
        .header__inner--top
          .top-left
            = link_to root_path do
              = image_tag('http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg')

          .top-right
            = form_with url: search_items_path, local: true, method: :get, class: "search-form" do |form| 
              = form.text_field :keyword, placeholder: "投稿を検索する", class: "searchBox--input"
              .search
                = button_tag type: 'submit', class: "search-btn" do
                  = icon('fa', 'search')
        .header__inner--bottom
          .bottom-right
            - if user_signed_in?
              .bottom-right__create
                = link_to 'ログアウト', destroy_user_session_path, method: :delete
                = link_to "マイページ", show_path
            - else
              .bottom-right__login
                = link_to 'ログイン', user_session_path
              .bottom-right__create
                = link_to '新規会員登録', new_user_registration_path

    = yield
    .footer
      %ul.contents
        %li.content
          %h2.content__top
            FURIMAについて
          %ul
            %li
              = link_to '会社概要（運営会社）', '#'
            %li
              = link_to 'プライバシーポリシー', '#'
            %li
              = link_to 'FURIMA利用規約', '#'
            %li
              = link_to 'ポイントに関する特約', '#'
        %li.content
          %h2.content__top
            FURIMAを見る
          %ul
            %li
              = link_to 'カテゴリー一覧', '#'

            %li
              = link_to 'ブランド一覧', '#'


        %li.content
          %h2.content__top
            <nobr>ヘルプ＆ガイド</nobr>
          %ul
            %li
              = link_to 'FURIMAガイド', '#'
            %li
              = link_to 'FURIMAロゴ利用ガイドライン', '#'
            %li
              = link_to 'お知らせ', '#'

      .footer__logo
        = link_to image_tag('http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg')
      %p &copy;FURIMA
      = link_to  new_item_path do
        .syuppin
          .syuppin__content
            %p 出品する
            = icon('fas', 'camera', class: 'camera-icon')